
.outputtext {
  margin: 10px;
  word-wrap: break-word;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-small;
}

.copybox {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  font-size: 14pt;
}

.copytext {
  margin-right: 10px;
}