
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgb(89,128,188), white);
}

.partners {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.networkers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.partner_logo {
    height: 72pt;
}

.networker_logo {
    height: 64pt;
}

.bg_image {
    height: 96pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.test_date {
    text-align: center;
    color: white;
    text-shadow: 0 0 0;
}

.message {
    text-align: center;
    color: white;
    text-shadow: 0 0 0;
}

.sponsorthanks {
    font-size: 18pt;
    text-align: center;
    color: black;
}

.title {
    font-size: 28pt;
    text-align: center;
    padding: 12pt;
    color: white;
    text-shadow: 0 0 0;
}

.description {
    font-size: 22pt;
    text-align: center;
    padding: 12pt;
    color: white;
    text-shadow: 0 0 0;
}

.countdown {
    font-size: 24pt;
    text-align: center;
    padding: 12pt;
    color: white;
    text-shadow: 0 0 0;
}

.minutesbox {
    font-size: 24pt;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 12pt;
    color: white;
    text-shadow: 0 0 0;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    outline: white;
    text-shadow: 0 0 0;
}

.no_camera {
    max-height: 24pt;
}

.no_microphone {
    max-height: 24pt;
}

.info_text {
    font-size: 14pt;
    text-align: center;
    padding: 12pt;
}

.music {
    width: 100%;
}

.credits {
    font-size: 10pt;
    text-align: center;
    color: rgb(22, 117, 117);
    text-shadow: 0 0 0;
}
