
.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgb(89,128,188), white);
}

.bg_image {
    width: 60%;
    max-height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: xx-large;
    text-align: center;
    padding: 12pt;
}

.description {
    font-size: large;
    text-align: center;
    padding: 12pt;
}

.countdown {
    font-size: larger;
    text-align: center;
    padding: 12pt;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.no_camera {
    max-height: 24pt;
}

.no_microphone {
    max-height: 24pt;
}

.info_text {
    font-size: medium;
    text-align: center;
    padding: 12pt;
}
