
.markdown {
  font-size: small;
  text-align: left;
  width: 100%;
}

.markdown h1 {
  font-size: 28pt;
  line-height: 1.2;
  font-style: italic;
  text-align: center;
  margin-bottom: 8pt;
  font-family: "Domine";
}

.markdown h2 {
  font-size: 12pt;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8pt;
  font-family: "Domine";
}

.markdown p {
  font-size: 12pt;
  line-height: 1.5;
  margin-bottom: 8pt;
  text-align: left;
}

.markdown em {
  font-style: italic;
  font-weight: bold;
}

.markdown ul {
  list-style-position: inside;
  font-size: 10pt;
  line-height: 1.2;
  margin-bottom: 8pt;
  line-height: 1.2;
  list-style-type: none;
}

.markdown li {
  list-style-position: inside;
  font-size: 10pt;
  line-height: 1.2;
  margin-bottom: 8pt;
}

.markdown img {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
